<h2>Your Leave Applications</h2>
<ul>
  <% leaves.forEach(leave => { %>
    <li><%= leave.date %> - <%= leave.reason %> - Granted: <%= leave.grant %></li>
  <% }) %>
</ul>
<a href="/profile">Back</a>
